body{
  background-color: #000;
  color: #808080;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

a{
  font-size: 5rem;
  /* height: 30vh; */
  margin: 20rem 0;
  display: block;
  text-align: center;
}

*:focus{
  color: #fff;
}

a{
  color: #3e3e3e;
  outline: none;
}

a:focus{
  /* margin: auto 0;
  height: 50vh; */
}

table {
    border-collapse: collapse;
    width: 100%;
  }
  
  th, td {
    text-align: left;
    padding: 8px;
  }
  
  tr:nth-child(even){
    background-color:#131313;
  }
  
  th {
    background-color: grey;
    color: #2f2f2f;
  }