<body>
<header>
    <h1>Global chatter</h1>
    <p>Hi there! Welcome to Global chatter. A realtime translation webapp.</p>
    <p>Language barier is not an obstacle anymore. Being able to talk to everyone, creates a smaller world</p>
</header>

